@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito+Sans:opsz@6..12&family=Poppins&display=swap');

*{
    font-family: 'Lato', sans-serif;
   
}


body{
    background-color: #FEC53C;
    display: grid;
}

header{
    box-shadow: 3px 0 5px #070707;
}

ul{
    padding: 15px !important;
}

#logo, #cart{
    width: 18%;
}

#main-home section{
    border-bottom: 1px solid #FEC53C;
}

#main-home{
    background-color: #070707;
    border-bottom: #FEC53C 1px solid;

}

#main-sect1{
    background-image: url('https://i.postimg.cc/3xtT8s3b/Project-2.jpg');
    height: 82vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: #FEC53C 1px solid;
    padding-top: 15%;
}

#main-sect1 h1{
    text-shadow: 0 0 8px #434242;
}

#main-sect1 button{
    padding: 15px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(0deg, #FEC53C 6%, rgba(255, 255, 255, 0.90) 161%);
    box-shadow: 0 0 12px #996d07;
}

#cards{
    padding: 25px 10%
}
#cards img{
    border-radius: 15px;
    box-shadow: 0 0 12px #aaaaaa;
    width: 390px;
}
#cards h5{
    border-radius: 15px;
    text-shadow: 0 0 3px #888;
    color: #fff;
}

footer{
    background-color: #FEC53C;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}






/* ABOUT PAGE */

#about-main{
    background-image: url('https://i.postimg.cc/8P0Cwf6C/Project-3.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 23px;
}

#owner{
    display: flex;
    justify-content: space-around;
    margin: 45px 12%;
}

#owner img{
    margin-top: 25px;
    border-radius: 15px;
    height: 305px;
}

#about-main p{
    text-shadow: 0 0 4px  #2b2b2b;
    text-emphasis: 2.9px;
    margin: 15px 5%;
    
}

#owner p{
    text-shadow: 0 0 4px  #2b2b2b;
    text-emphasis: 2.9px;
}

/* PRODUCT PAGE */

#about-section{
    background-color: #070707;
    border-bottom: #FEC53C 1px solid;
}

#about-section img{
    width: 250px;
    height: 400px;
    margin-left: 18%;
}



#about-section a:hover{
    background: linear-gradient(0deg, #FEC53C 6%, rgba(255, 255, 255, 0.90) 161%);
    box-shadow: 0 0 8px #2b2b2b;
}

#products-section{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
}


#search-bar{
    display: flex;
    justify-content: center;
    margin-left: 38%;
}

/* CONTACT PAGE */

#contact-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1 , 1fr);
    padding: 5%;
}


/* ADMIN */
#admin-section{
    border: 2px solid #fff;
    margin: 20% 5%;
}

#admin-output{
    margin: 2% 5%;
}

#admin-pics{
    width: 120px;
    border: none;
}


/* media queries */
@media screen and (min-width: 320px) and (max-width: 490px) {
    #admin-table{
        padding: 0;
        margin: 0;
    }
    #about-section img{
        width: 250px;
        height: 400px;
        margin-left: 6%;
    }
    
    #products-section{
        display: flex !important;
        flex-wrap: wrap !important;
    }
    #about-section{
        background-color: #070707;
        border-bottom: #FEC53C 1px solid;
        width: 100%;
        
    }
    #contact-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    #contact-section form{
        margin: 0 10%;
        
    }
    #contact-section div>img{
        display: none;
    }

    /* #main-home img{
        margin-left: -40px;
        width: 355px;
    } */

    #cards img{
        border-radius: 15px;
        box-shadow: 0 0 12px #aaaaaa;
        width: 280px;
        margin-left: 0%;
    }
}
@media screen and (min-width: 491px) and (max-width: 960px) {
    #admin-table{
        padding: 0;
        margin: 0;
    }
    #about-section img{
        width: 250px;
        height: 400px;
        margin-left: 33%;
    }
    
    #products-section{
        display: flex !important;
        flex-wrap: wrap !important;
    }
    #about-section{
        background-color: #070707;
        border-bottom: #FEC53C 1px solid;
        width: 100%;
        
    }
    #contact-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    #contact-section form{
        margin: 0 10%;
        
    }
    #contact-section div>img{
        display: none;
    }

    #main-home img{
        margin-left: -40px;
        width: 355px;
    }

    #cards img{
        border-radius: 15px;
        box-shadow: 0 0 12px #aaaaaa;
        width: 213px;
        margin-left: -20% !important;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}


@media screen and (min-width: 961px) and (max-width: 1080px) {
    #about-section img{
        width: 250px;
        height: 400px;
        margin-left: -5%;
    }

    
}
